html {
    height: 100%;
    }

body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    }

button {
    -webkit-font-smoothing: antialiased;
    }

// * {outline: 1px solid rgba(128, 128, 128, .5);}


/* Layout */

.makeup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #4e4d4b;
    color: #fff;
    font: 20px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .makeup__menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 2em;
        background: #363535;
        z-index: 2;
        .user-select(none);
        overflow: hidden;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .7);
        }

    .makeup__aside {
        position: absolute;
        top: 2em;
        bottom: 0;
        left: 0;
        width: 10em;
        background: #1e1e1e;
        z-index: 1;
        }

        .makeup__aside-in {
            height: 100%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0;
                }
            }

            .makeup__aside-track {
                display: none;
                position: absolute;
                right: 1px;
                top: 1px;
                bottom: 1px;
                width: 4px;

                .makeup__aside--baron & {
                    display: block;
                    }
                }

                .makeup__aside-track-bar {
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    width: 4px;
                    background: rgba(255, 255, 255, .4);
                    }


    .makeup__status {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 10em;
        height: .75em;
        overflow: hidden;
        }

    .makeup__main {
        position: absolute;
        top: 2em;
        left: 10em;
        right: 0;
        bottom: .75em;
        overflow-x: hidden;
        overflow-y: auto;
        }


/* Ruler */

.makeup__ruler {
    position: absolute;
    overflow: hidden;

    &--h {
        top: 0;
        right: 0;
        left: 0;
        height: .75em;
        background: #242424;
        padding: 0 0 0 2em;
        }

    // &--v {
    //     top: .75em;
    //     bottom: 0;
    //     left: 0;
    //     width: .75em;
    //     background: #242424;
    //     }
    }

    .makeup__ruler-track {
        position: relative;
        width: 2000px;
        height: .75em;
        background:
            linear-gradient(to right,
                transparent 10%,
                #898989 10%,
                #898989 11%,
                transparent 11%,
                transparent 20%,
                #898989 20%,
                #898989 21%,
                transparent 21%,
                transparent 30%,
                #898989 30%,
                #898989 31%,
                transparent 31%,
                transparent 40%,
                #898989 40%,
                #898989 41%,
                transparent 41%,
                transparent 50%,
                #898989 50%,
                #898989 51%,
                transparent 51%,
                transparent 60%,
                #898989 60%,
                #898989 61%,
                transparent 61%,
                transparent 70%,
                #898989 70%,
                #898989 71%,
                transparent 71%,
                transparent 80%,
                #898989 80%,
                #898989 81%,
                transparent 81%,
                transparent 90%,
                #898989 90%,
                #898989 91%,
                transparent 91%,
                transparent 100%
            ) 0 10px repeat-x;
        background-size: 100px 2px;
        }

        .makeup__ruler-track-in {
            // width: 1000px;
            }

            .makeup__ruler-track-active {
                position: absolute;
                top: 0;
                left: 0;
                height: .75em;
                background: #3a3a3a;
                background-size: 10px 2px;
                }

            .makeup__ruler-track-runner {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                z-index: 2;

                &:before {
                    position: absolute;
                    top: 1px;
                    left: -7px;
                    width: 15px;
                    height: 16px;
                    background: url(svg/i_dragger-h.svg) top left no-repeat;
                    content: '';
                    }
                }

    .makeup__ruler-scale {
        .user-select(none);
        position: absolute;
        top: 0;
        right: 0;
        left: 2em;
        height: .75em;
        z-index: 1;
        white-space: nowrap;
        counter-reset: scale;
        }

        .makeup__ruler-scale-item {
            width: 100px;
            height: .75em;
            display: inline-block;
            vertical-align: top;
            text-align: right;
            }

        .makeup__ruler-scale-item:before {
            display: inline-block;
            vertical-align: top;
            width: 3em;
            text-align: center;
            margin-right: -1.5em;
            content: counter(scale)'00';
            counter-increment: scale;
            font: .5em/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
            // background: #242424;
            letter-spacing: -.1ex;
            }


    .makeup__container {
        position: absolute;
        top: 2em;
        left: 2em;
        width: 400px;
        height: 300px;
        background: #fff;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        }

        .makeup__container-image {

            }

        .makeup__container-markup {

            }


/* Button */

.makeup__btn {
    display: inline-block;
    vertical-align: middle;
    width: 1.6em;
    height: 1.6em;
    margin: .2em
    }

    .makeup__btn-checkbox {
        display: none;
        }

    .makeup__btn-label {
        position: relative;
        .box-sizing(border-box);
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        text-indent: -999em;
        overflow: hidden;
        cursor: pointer;
        transition: background .2s ease;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            }

        &:hover {
            background: #4e4d4b;
            }

        .makeup__btn-checkbox:checked + & {
            background: #000;
            box-shadow: inset 0 0 0 1px #202020;
            }
        }

    .makeup__btn-label--menu:before {
        background: url(svg/i_menu.svg) top left no-repeat;
        width: 16px;
        height: 12px;
        margin: -6px 0 0 -8px;
        }


/* Search */

.makeup__search {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 -.25em;
    width: 8em;
    height: 1.6em;
    }

    .makeup__search-input {
        .box-sizing(border-box);
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid #444242;
        padding: .3em 1em .3em 1.5em;
        -webkit-font-smoothing: antialiased;
        background: #2b2a29;
        font: .7em/1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #efefef;
        border-radius: 3px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .6);
        // transition:
        //     border-color .05s ease,
        //     box-shadow .05s ease,
        //     background-color .05s ease;

        &:focus {
            outline: none;
            // border-color: #64b4c8;
            // box-shadow:
            //     inset 0 1px 2px 0 rgba(0, 0, 0, .6),
            //     0 0 4px 0 #5996a5;
            // background: #4e4d4b;
            }
        }

    .makeup__search-icon {
        position: absolute;
        top: 50%;
        left: .3em;
        width: 10px;
        height: 10px;
        margin-top: -5px;
        background: url(svg/i_search.svg) top left no-repeat;
        z-index: 1;
        }


/* Radio */

.makeup__radio {
    display: inline-block;
    vertical-align: middle;
    padding: 0 .25em 0 .75em;
    }

    .makeup__radio-title {
        display: inline-block;
        vertical-align: middle;
        font-size: .7em;
        color: #ccc;
        margin-right: .4em;
        }

    .makeup__radio-item {
        display: inline-block;
        vertical-align: middle;
        }

        .makeup__radio-item-input {
            display: none;
            }

        .makeup__radio-item-label {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 1.6em;
            height: 1.6em;
            margin: .2em -.15em;
            text-indent: -999em;
            overflow: hidden;
            cursor: pointer;
            border-radius: 2px;

            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                }

            &:hover {
                background: #4e4d4b;
                }

            .makeup__radio-item-input:checked + & {
                background: #000;
                box-shadow: inset 0 0 0 1px #202020;
                border-radius: 3px;
                }
            }

        /* Blend modes */
        .makeup__radio-item-label--blend-1:before,
        .makeup__radio-item-label--blend-2:before,
        .makeup__radio-item-label--blend-3:before,
        .makeup__radio-item-label--blend-4:before {
            width: 18px;
            height: 17px;
            margin: -8px 0 0 -9px;
            }
        .makeup__radio-item-label--blend-1:before {
            background: url(svg/i_blend-1.svg) top left no-repeat;
            }
        .makeup__radio-item-label--blend-2:before {
            background: url(svg/i_blend-2.svg) top left no-repeat;
            }
        .makeup__radio-item-label--blend-3:before {
            background: url(svg/i_blend-3.svg) top left no-repeat;
            }
        .makeup__radio-item-label--blend-4:before {
            background: url(svg/i_blend-4.svg) top left no-repeat;
            }

        /* Background */
        .makeup__radio-item-label--bg-color:before,
        .makeup__radio-item-label--bg-transparency:before {
            width: 16px;
            height: 16px;
            margin: -8px 0 0 -8px;
            }
        .makeup__radio-item-label--bg-color:before {
            background: url(svg/i_bg-color.svg) top left no-repeat;
            }
        .makeup__radio-item-label--bg-transparency:before {
            background: url(svg/i_bg-transparency.svg) top left no-repeat;
            }
        .makeup__radio-item-label--bg-map:before {
            width: 17px;
            height: 14px;
            margin: -7px 0 0 -8px;
            background: url(svg/i_bg-map.svg) top left no-repeat;
            }


/* Slider */

.makeup__slider {
    display: inline-block;
    vertical-align: middle;
    padding: 0 .25em 0 .2em;

    &:before {
        display: inline-block;
        vertical-align: middle;
        height: 1.6em;
        content: '';
        }
    }

    .makeup__slider-title {
        display: inline-block;
        vertical-align: middle;
        font-size: .7em;
        color: #ccc;
        margin-right: .4em;
        }

    .makeup__slider-track {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        border-top: 1px solid #000;
        background: #444;
        width: 60px;
        margin: 0 0 0 8px;
        }

        .makeup__slider-track-in {}

            .makeup__slider-track-runner {
                position: absolute;
                width: 0;
                height: 0;
                z-index: 1;

                &:active {
                    z-index: 2;
                    }

                &:before {
                    content: '';
                    position: absolute;
                    top: -8px;
                    left: -7px;
                    width: 15px;
                    height: 16px;
                    border-radius: 2px;
                    background: linear-gradient(to top, #555, #444);
                    box-shadow: 0 1px 3px 0 #000;
                    }
                &:after {
                    content: '';
                    position: absolute;
                    top: -4px;
                    left: -3px;
                    width: 5px;
                    height: 8px;
                    border-left: 1px solid #252525;
                    border-right: 1px solid #252525;
                    background: linear-gradient(to right, #252525, #252525) center center repeat-y;
                    background-size: 1px 1px;
                    }
                }


/* Navigation */
.makeup__nav {}

    .makeup__nav-title {
        font: bold .8em/1.25em 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: .875em 0 .625em 1em;
        }

    .makeup__nav-list {}


/* Module */
.makeup__module {
    .user-select(none);
    }

    .makeup__module-header {
        position: relative;
        font: .6em/1.7em 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #eee;
        padding: 0 0 0 2.5em;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        .makeup__module--expandable &:before {
            position: absolute;
            left: 18px;
            top: 50%;
            margin-top: -4px;
            width: 8px;
            height: 7px;
            background: url(svg/i_expand.svg) top left no-repeat;
            content: '';
            }
        .makeup__module--expanded &:before {
            left: 17px;
            width: 7px;
            height: 8px;
            margin-top: -3px;
            background: url(svg/i_expanded.svg) top left no-repeat;
            }
        }

        .makeup__module-header-meta {
            float: right;
            }

/* Module rating */
.makeup__rating {
    display: inline-block;
    vertical-align: middle;
    font: bold .75em/2.2em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #666;
    width: 1.5em;
    padding: 0 1em 0 0;
    }

/* Module doc link */
.makeup__doclink {
    position: relative;
    bottom: -2px;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 14px;
    background: url(svg/i_info.svg) top left no-repeat;
    }

/* Subnav */
.makeup__subnav {
    display: none;
    overflow: hidden;

    .makeup__module--expanded & {
        display: block;
        }
    }

    .makeup__subnav-title {
        color: #666;
        font: .6em/1.7em 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding-left: 3.4em;
        }

    .makeup__subnav-link {
        display: block;
        text-decoration: none;
        color: #eee;
        font: .6em/1.7em 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding-left: 3.4em;

        &:hover {
            color: #fff;
            }

        &--current {
            background: linear-gradient(to top, #4d4d4d 6%, #5d5d5d 6%, #6d6d6d 94%, #7e7e7e 94%);
            }
        }