<link rel="stylesheet" href="../../dist/makeup.css">

<div class="makeup">

    <!-- Menu -->
    <nav class="makeup__menu">

        <!-- Toggle menu -->
        <div class="makeup__btn">
            <input type="checkbox" name="makeup-menu" id="makeup-menu" class="makeup__btn-checkbox">
            <label for="makeup-menu" class="makeup__btn-label" title="Toggle menu">Toggle menu</label>
        </div>

        <!-- Search -->
        <div class="makeup__search">
            <input type="text" class="makeup__search-input" name="makeup-search">
        </div>

        <!-- Mode -->
        <div class="makeup__radio">
            <div class="makeup__radio-title">Mode</div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-1" class="makeup__radio-item-input" checked>
                <label for="makeup-mode-1" class="makeup__radio-item-label" title="Image only">Image only</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-2" class="makeup__radio-item-input">
                <label for="makeup-mode-2" class="makeup__radio-item-label" title="Markup only">Markup only</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-3" class="makeup__radio-item-input">
                <label for="makeup-mode-3" class="makeup__radio-item-label" title="Markup and image">Markup and image</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-4" class="makeup__radio-item-input">
                <label for="makeup-mode-4" class="makeup__radio-item-label" title="Markup and inversed image">Markup and inversed image</label>
            </div>
        </div>

        <!-- Background -->
        <div class="makeup__radio">
            <div class="makeup__radio-title">Background</div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-bg" id="makeup-bg-color" class="makeup__radio-item-input" checked>
                <label for="makeup-bg-color" class="makeup__radio-item-label" title="Gray">Gray</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-bg" id="makeup-bg-transparency" class="makeup__radio-item-input">
                <label for="makeup-bg-transparency" class="makeup__radio-item-label" title="Transparency grid">Transparency grid</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-bg" id="makeup-bg-map" class="makeup__radio-item-input">
                <label for="makeup-bg-map" class="makeup__radio-item-label" title="Map">Map</label>
            </div>
        </div>

    </nav>

    <!-- Sidebar -->
    <nav class="makeup__aside">
        Sidebar
    </nav>

    <!-- Statusbar -->
    <div class="makeup__status">
        Statusbar
    </div>

    <!-- Main -->
    <div class="makeup__main">

        <!-- Rulers -->
        <div class="makeup__ruler makeup__ruler--h"></div>
        <div class="makeup__ruler makeup__ruler--v"></div>

    </div>

</div>