<link rel="stylesheet" href="../../dist/makeup.css">

<div class="makeup">

    <!-- Menu -->
    <nav class="makeup__menu">

        <!-- Toggle menu -->
        <div class="makeup__btn">
            <input type="checkbox" name="makeup-menu" id="makeup-menu" class="makeup__btn-checkbox" checked>
            <label for="makeup-menu" class="makeup__btn-label makeup__btn-label--menu" title="Toggle menu">Toggle menu</label>
        </div>

        <!-- Search -->
        <div class="makeup__search">
            <input type="text" class="makeup__search-input" name="makeup-search" id="makeup-search">
            <label for="makeup-search" class="makeup__search-icon"></label>
        </div>

        <!-- Mode -->
        <div class="makeup__radio">
            <div class="makeup__radio-title">Mode</div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-1" class="makeup__radio-item-input" checked>
                <label for="makeup-mode-1" class="makeup__radio-item-label makeup__radio-item-label--blend-1" title="Image only">Image only</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-2" class="makeup__radio-item-input">
                <label for="makeup-mode-2" class="makeup__radio-item-label makeup__radio-item-label--blend-2" title="Markup only">Markup only</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-3" class="makeup__radio-item-input">
                <label for="makeup-mode-3" class="makeup__radio-item-label makeup__radio-item-label--blend-3" title="Markup and image">Markup and image</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-mode" id="makeup-mode-4" class="makeup__radio-item-input">
                <label for="makeup-mode-4" class="makeup__radio-item-label makeup__radio-item-label--blend-4" title="Markup and inversed image">Markup and inversed image</label>
            </div>
        </div>

        <!-- Background -->
        <div class="makeup__radio">
            <div class="makeup__radio-title">Background</div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-bg" id="makeup-bg-color" class="makeup__radio-item-input" checked>
                <label for="makeup-bg-color" class="makeup__radio-item-label makeup__radio-item-label--bg-color" title="Gray">Gray</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-bg" id="makeup-bg-transparency" class="makeup__radio-item-input">
                <label for="makeup-bg-transparency" class="makeup__radio-item-label makeup__radio-item-label--bg-transparency" title="Transparency grid">Transparency grid</label>
            </div>
            <div class="makeup__radio-item">
                <input type="radio" name="makeup-bg" id="makeup-bg-map" class="makeup__radio-item-input">
                <label for="makeup-bg-map" class="makeup__radio-item-label makeup__radio-item-label--bg-map" title="Map">Map</label>
            </div>
        </div>

    </nav>

    <!-- Sidebar -->
    <aside class="makeup__aside">

        <div class="makeup__nav">

            <div class="makeup__nav-title">Modules</div>

            <nav class="makeup__nav-list">

                <article class="makeup__module">

                    <header class="makeup__module-header">
                        <div class="makeup__module-header-meta">
                            <a href="#" class="makeup__doclink"></a>
                            <div class="makeup__rating">1.6</div>
                        </div>
                        articleCard
                    </header>

                    <div class="makeup__subnav">
                        <div class="makeup__subnav-title">vcData</div>
                        <a href="#" class="makeup__subnav-link">full</a>
                        <a href="#" class="makeup__subnav-link makeup__subnav-link--current">default</a>
                        <a href="#" class="makeup__subnav-link">scroll</a>
                        <div class="makeup__subnav-title">initData</div>
                        <a href="#" class="makeup__subnav-link">default</a>
                    </div>

                </article>

                <article class="makeup__module">

                    <header class="makeup__module-header">
                        <div class="makeup__module-header-meta">
                            <a href="#" class="makeup__doclink"></a>
                            <div class="makeup__rating">1.6</div>
                        </div>
                        articleCard
                    </header>

                    <div class="makeup__subnav">
                        <div class="makeup__subnav-title">vcData</div>
                        <a href="#" class="makeup__subnav-link">full</a>
                        <a href="#" class="makeup__subnav-link">default</a>
                        <a href="#" class="makeup__subnav-link">scroll</a>
                        <div class="makeup__subnav-title">initData</div>
                        <a href="#" class="makeup__subnav-link">default</a>
                    </div>

                </article>

            </nav>

        </div>

    </aside>

    <!-- Statusbar -->
    <div class="makeup__status">
        Statusbar
    </div>

    <!-- Main -->
    <div class="makeup__main">

        <!-- Rulers -->
        <div class="makeup__ruler makeup__ruler--h"></div>
        <div class="makeup__ruler makeup__ruler--v"></div>

    </div>

</div>