<div class="makeup">

    {{!-- Menu --}}
    <nav class="makeup__menu">

        {{!-- Toggle menu --}}
        {{#if menu}}
            <div class="makeup__btn">
                <input type="checkbox" name="makeup-menu" id="makeup-menu" class="makeup__btn-checkbox"{{#if menu.checked}} checked{{/if}}>
                <label for="makeup-menu" class="makeup__btn-label makeup__btn-label--menu" title="{{menu.tooltip}}">
                    {{menu.tooltip}}
                </label>
            </div>
        {{/if}}

        {{!-- Search --}}
        {{#if search}}
            <div class="makeup__search">
                <input type="text" class="makeup__search-input" name="makeup-search" id="makeup-search"{{#if search.placeholder}} placeholder="{{search.placeholder}}"{{/if}}>
                <label for="makeup-search" class="makeup__search-icon"></label>
            </div>
        {{/if}}

        {{!-- Mode --}}
        {{#if mode}}
            <div class="makeup__radio">

                <div class="makeup__radio-title">
                    {{mode.label}}
                </div>

                {{#each mode.items}}
                    <div class="makeup__radio-item">
                        <input type="radio" name="makeup-mode" id="makeup-mode-{{value}}" class="makeup__radio-item-input makeup__mode"{{#if checked}} checked{{/if}} value="{{value}}">
                        <label for="makeup-mode-{{value}}" class="makeup__radio-item-label makeup__radio-item-label--blend-{{value}}" title="{{tooltip}}">
                            {{tooltip}}
                        </label>
                    </div>
                {{/each}}

            </div>
        {{/if}}

        <!-- Background -->
        {{#if background}}
            <div class="makeup__radio">

                <div class="makeup__radio-title">
                    {{background.label}}
                </div>

                {{#each background.items}}
                    <div class="makeup__radio-item">
                        <input type="radio" name="makeup-bg" id="makeup-bg-{{value}}" class="makeup__radio-item-input makeup__bg"{{#if checked}} checked{{/if}} value="{{value}}">
                        <label for="makeup-bg-{{value}}" class="makeup__radio-item-label makeup__radio-item-label--bg-{{value}}" title="{{tooltip}}">{{tooltip}}</label>
                    </div>
                {{/each}}

            </div>
        {{/if}}

        {{#if transparency}}
            <div class="makeup__slider makeup__slider--transparency">

                <div class="makeup__slider-title">{{transparency.label}}</div>

                <div class="makeup__slider-track">
                    <div class="makeup__slider-track-in">
                        <div class="makeup__slider-track-runner"></div>
                    </div>
                </div>

            </div>
        {{/if}}

        {{#if zoom}}
            <div class="makeup__slider makeup__slider--zoom">

                <div class="makeup__slider-title">{{zoom.label}}</div>

                <div class="makeup__slider-track">
                    <div class="makeup__slider-track-in">
                        <div class="makeup__slider-track-runner"></div>
                    </div>
                </div>

            </div>
        {{/if}}

    </nav>

    <!-- Sidebar -->
    <aside class="makeup__aside">
        <div class="makeup__aside-in">

            <div class="makeup__nav">

                <div class="makeup__nav-title">Modules</div>

                {{#if modules}}
                    <nav class="makeup__nav-list">
                        {{#each modules}}
                            <article class="makeup__module{{#if items}} makeup__module--expandable{{/if}}" data-id="{{@index}}">

                                <header class="makeup__module-header">
                                    {{label}}
                                </header>

                                {{#if items}}
                                    <div class="makeup__subnav">
                                        {{#each items}}
                                            <div class="makeup__subnav-title">
                                                {{label}}
                                            </div>
                                            {{#if items}}
                                                {{#each items}}
                                                    <span class="makeup__subnav-link">
                                                        {{label}}
                                                    </span>
                                                {{/each}}
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                {{/if}}

                            </article>
                        {{/each}}
                    </nav>
                {{/if}}

            </div>

            <div class="makeup__aside-track">
                <div class="makeup__aside-track-bar"></div>
            </div>

        </div>
    </aside>

    <!-- Statusbar -->
    <div class="makeup__status">
        Statusbar
    </div>

    <!-- Main -->
    <div class="makeup__main">

        <!-- Rulers -->
        <div class="makeup__ruler makeup__ruler--h">
            <div class="makeup__ruler-track">
                <div class="makeup__ruler-track-in">

                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>
                    <div class="makeup__ruler-track-point"></div>

                    <div class="makeup__ruler-track-active"></div>

                    <div class="makeup__ruler-track-runner makeup__ruler-track-runner--disabled"></div>
                    <div class="makeup__ruler-track-runner"></div>

                </div>
            </div>
        </div>

        <div class="makeup__container">
            <div class="makeup__container-image"></div>
            <div class="makeup__container-markup"></div>
        </div>

    </div>

</div>